{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block header %}
<div class="links">
  <a href="/logout">Logout</a>
</div>
{% endblock %}

{% block content %}

<div class="main">
  <div class="feedback">
    <h3>{{ feedback.title }}</h3>
    <p>{{ feedback.content }}</p>
  </div>

  <div class="actions">
    {% if user %}
    <form for="edit-feedback" action="/feedback/{{ feedback.id }}/update">
      <button type="submit" class="btn btn-secondary">Edit</button>
    </form>

    <form for="delete-feedback" action="/feedback/{{ feedback.id }}/delete" method="POST">
      <button type="submit" class="btn btn-tertiary">Delete</button>
    </form>
  </div>
</div>

{% endif %}

{% endblock %}