{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="links">
  <a href="/register">Register</a>
  <a href="/login">Login</a>
</div>
{% endblock %}

{% block content %}

<form for="login-user" method="POST">
  <h1>{{ title }}</h1>
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Login</button>

</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="flash-message {{ category }}">
  {{ message }}
</div>
{% endfor %}
{% endwith %}


{% endblock %}